html, body {
	width: 100%;
	height: 100%;
	background: #00f;
	margin: 0px;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: #0f0;
	margin: 0px;
}

.ctrl-panel {
	width: 350px;
	position: absolute;
	height: 100%;
	z-index: 2;
	background: #ddd;
	box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
}

.content-panel {
	width: 100%;
	height: 100%;
	position: relative;
	padding-left: 350px;
	background: #fafafa;
	box-sizing: border-box;
}

.ctrl-panel h2 {
	margin: 5px 0px 8px 10px;
	color: #777;
}

.ctrl-expando {
	width: 100%;
	height: 50px;
	margin-bottom: 2px;
	background: #eee;
	padding: 10px 8px;
	box-sizing: border-box;
	cursor: pointer;
}

.expando-text {
	color: #777;
	font-size: 18px;
	margin-top: 4px;
}

.expando-content {
	background: #f8f8f8;
	margin-bottom: 2px;
	height: auto;
	width: 100%;
	overflow: hidden;
	padding: 8px;
	box-sizing: border-box;
}

.caret {
	float: left;
	margin-top: 10px;
	margin-right: 8px;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #777;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #777;
}

#body {
	padding: 50px 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.jscolor {
	width: 60px;
	float: right;
	text-align: center;
}

.input {
	float: right;
}

.input-table {
	width: 100%;
}

.column {
	width: 33%;
	float: left;
}

.module-add {
	width: 100px;
	height: 100px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	margin: 5px auto;
	text-align: center;
	cursor: pointer;
	padding-top: 42px;
	box-sizing: border-box;
	color: #777;
}

.module:hover {
	border: 2px solid #00F;
}